* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  color: #111827;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  background-color: white;
  width: 100%;
  max-width: 500px;
  padding: 32px;
  border-radius: 20px;
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-top: 0;
  font-size: 36px;
}

.subtitle {
  color: #6b7280;
  margin-bottom: 24px;
}

.input-row {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 14px;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  font-size: 16px;
}

button {
  background-color: #111827;
  color: white;
  border: none;
  padding: 14px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #374151;
}

#errorText {
  color: #dc2626;
  font-weight: bold;
  min-height: 24px;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background-color: #f9fafb;
  padding: 14px;
  margin-bottom: 10px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-text {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: #9ca3af;
}

.delete-btn {
  background-color: #dc2626;
  padding: 8px 12px;
}

.delete-btn:hover {
  background-color: #b91c1c;
}